/*navbar*/
.navbar{
	box-shadow: var(--box-shadow);
}
.navbar-nav .nav-link{
	font-weight: 500 ;
	color: var(--c-dark);
}
.navbar-nav .nav-link.active{
	color: var(--c-brand);
}
/*hero*/
#hero {
	background: linear-gradient(rgba(0, 0, 0, 0.258) rgba(0, 0, 0, 0.4)) url("..images/hero.jpeg");

}