:root {
    --c-dark: #212529;
    --c-brand: #6C63FF;
    --c-brand-light: #6970dd;
    --c-brand-rgb: 78, 87, 212;
    --c-body: #727272;
    --font-base: sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
    --offcanvas-width: 270px;
    --topNavbarheight: 56px;
 
}
body{
    font-family: 'Nunito', sans-serif;
  }
  
  .card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 70px 80px 18px 36px;
  cursor: pointer;
}
/*dept cards*/
.cardel:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.card-title{
    position:absolute;
    top: 160px;
    left: center;
}

.cardel img{
  position: absolute;
  top: 0px;
  right: 15px;
  max-height: 150px;
}
.btn-primary {
    color: #212529;
    background-color: #6C63FF;
    border-color: #711bd3
}

/*navbar*/
.navbar{
	background-color: #6C63FF;
	box-shadow: var(--box-shadow);
}
.navbar-nav .nav-link{
	font-weight: 500 ;
	color: rgb(243, 238, 238);
}
.navbar-nav .nav-link.active{
	color: #ffff;
}
/*hero*/
#hero {
	background: linear-gradient( rgba(0, 0, 0, 0.331), rgba(0, 0, 0, 0.34) ), url(images/hero.jpeg);
    background-position: center;
    background-size: cover;
}

/*offcanvas*/
.sidebar-nav {
    width: var(--offcanvas-width);
}

@media (min-width:992px) {
    body{
        overflow:auto !important;
    }
    .offcanvas-backdrop::before{
        display: none;
    }
    .sidebar-nav{
        transform: none;
        visibility: visible !important;
        top: var(--topNavbarheight);
        height: calc(100% - var(--topNavbarheight));
    }
    
}
main{
    margin-left: var(--offcanvas-width);
}
